
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>关于我们</h2>
<p>
    免责声明：本站所有资源均收集自互联网，没有提供影片资源存储，也未参与录制、上传。若本站收录的资源涉及您的版权或知识产权或其他利益，请附上版权证明邮件告知，在收到邮件后72小时内删除。
    Copyright © 2017 [114bt电影] 管理员邮箱：yuabd1991#gmail.com(#=@@)
</p>

