<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title :: Admin</title>
	<link href="/App_Themes/Admin/Style.css" rel="stylesheet" type="text/css" />
	@*<link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />*@
    <link href="~/App_Themes/black-tie/jquery-ui.css" rel="stylesheet" />
    @*<link href="~/App_Themes/black-tie/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />*@
	<link href="/App_Themes/black-tie/jquery.ui.selectmenu.css" rel="stylesheet" type="text/css" />
	<meta name="robots" content="noindex" />

    <script src="~/Scripts/jquery-1.8.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="/Scripts/jquery.ui.selectmenu.js" type="text/javascript"></script>

	<script src="/Scripts/Form.js" type="text/javascript"></script>
	<script src="/Scripts/validate.js" type="text/javascript"></script>

	<script type="text/javascript">
		function InitializeButtonsStandard() {
			$("select").selectmenu({ width: 160 });
			$("button").button();
			$("a.button").button();
			$(".button-add").button({ icons: { primary: 'ui-icon-plus'} });
			$(".button-save").button({ icons: { primary: 'ui-icon-check'} });
			$(".button-edit").button({ icons: { primary: 'ui-icon-pencil'} });
			$(".button-delete").button({ icons: { primary: 'ui-icon-trash'} });
			$(".button-cancel").button({ icons: { primary: 'ui-icon-arrowreturnthick-1-w'} });
			$(".button-edit-icon").button({ icons: { primary: 'ui-icon-pencil' }, text: false });
			$(".button-delete-icon").button({ icons: { primary: 'ui-icon-trash' }, text: false });
			$(".button-add-icon").button({ icons: { primary: 'ui-icon-plus' }, text: false });
			$(".button-save-icon").button({ icons: { primary: 'ui-icon-check'}, text: false });

			$(".delete, .button-delete").click(function (event) {
				if (!confirm("此操作不可恢复,您确定要删除该记录吗?")) {
					event.preventDefault();
				}
			});
		}

		function InitializeButtonsCustom() {
			$('input[type="text"], input[type="password"], textarea').addClass("field-idle");

			$('input[type="text"], input[type="password"], textarea').focus(function () {
				$(this).removeClass("field-idle").addClass("field-focus");
			});

			$('input[type="text"], input[type="password"], textarea').blur(function () {
				$(this).removeClass("field-focus").addClass("field-idle");
			});
		}

		function InitializeUI() {
			InitializeButtonsCustom();
			InitializeButtonsStandard();
		}

		$(function () {
			$("#main-menu").accordion({
				header: 'h3',
				autoHeight: false,
				navigation: true
			});

			$("#top-menu").menu({ orientation: 'horizontal' });
			$("#button-logout").button({ icons: { primary: 'ui-icon-unlocked' }, text: false });
			$("#login-user").button({ icons: { primary: 'ui-icon-person'} });
			$("#live-site").button({ icons: { primary: 'ui-icon-extlink' }, text: false });

			$("table.grid tr:even").addClass("alt");

			$(document).tooltip();

			InitializeUI();
		});
	</script>
	@RenderSection("Head", false)
</head>
<body>
	<div id="page-content">
		<div id="sidebar">
			<h1>Studio</h1>
			<p style="font-size:11px;">
				<a id="login-user" href="" style="width: 135px;" title="Settings">&nbsp;@BtVideo.Helpers.GlobalHelper.UserName()</a> 
				<a id="button-logout" href="/Account/Logout.html">退出</a>
				<a id="live-site" href="/" target="_blank">网站前台</a> 
			</p>
			<div id="logo">
				&nbsp;
			</div>
			<div id="main-menu">
				<h3><a href="#">博客</a></h3>
				<div>
					<ul>
						<li><a href="/Admin/Blog/Add">增加文章</a></li>
						<li><a href="/Admin/Blog/Index">浏览</a></li>
						<li><a href="/Admin/Blog/PendingComments">审核评论</a></li>
						<li><a href="/Admin/Blog/Categories">博客分类</a></li>
					</ul>
				</div>
				<h3><a href="#">成功案例</a></h3>
				<div>
					<ul>
						<li><a href="/Admin/Case">成功案例浏览</a></li>
						<li><a href="/Admin/Case/CaseCategories">分类管理</a></li>
					</ul>
				</div>
				<h3><a href="#">设置</a></h3>
				<div>
					<ul>
						<li><a href="/Admin/Links/Index">友情链接管理</a></li>
						<li><a href="/Admin/Settings/Company">常规设置</a></li>
						<li><a href="/Admin/Settings/Users">用户</a></li>
						<li><a href="/Admin/Settings/Roles">用户权限</a></li>
						<li><a href="/Admin/Settings/Password">修改密码</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div id="content">
			@RenderBody()
		</div>
	</div>
</body>
</html>
