@model IEnumerable<Studio.Models.UserRole>

@{
    ViewBag.Title = "用户权限";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head {
	<script src="/Scripts/jquery.validate.min.js" type="text/javascript"></script>
	<script type="text/javascript">

		$(function () {
			$("#add").button({ icons: { primary: 'ui-icon-plus'} });
			$("#add-form").dialog({ autoOpen: false, modal: true, title: 'Add User Role', width: 550 });
			$("#add")
				.click(function () {
					$("#RoleID").val("");
					$("#OldRole").val("");
					$("#add-form").dialog("open");
					$("#add-form").dialog({ title: 'Add User Role' });
				});
			$("#RoleForm").validate({
				rules: {
					RoleID: { required: true, maxlength: 15, remote: '/Admin/Settings/CheckRole' }
				},
				messages: {
					RoleID: {
						required: "<span style='color: red; margin-left: 10px;'>Required</span>",
						maxlength: "<span style='color: red; margin-left: 10px;'>Maxlength is 15</span>",
						remote: "<span style='color: red; margin-left: 10px;'>Already Exist</span>"
					}
				}
			});
		});

		function Edit(roleID) {
			$("#RoleID").val(roleID);
			$("#OldRole").val(roleID);
			$("#add-form").dialog("open");
			$("#add-form").dialog({ title: 'Edit User Role' });
		};

	</script>
}

<div id="add-form">
	<br />
	<form action="/Admin/Settings/Roles" method="post" id="RoleForm">
	 @Html.Hidden("OldRole")
		<div class="row">
			<label>头衔:</label>
			@Html.TextBox("RoleID")
		</div>
		<p><button type="submit">提交</button> or <a href="#" onclick="$('#add-form').dialog('close');">取消</a></p>
	</form>
</div>

<h2>用户权限</h2>

<p><a href="#" id="add" title="增加">增加</a></p>

<table class="grid">
	<tr>
		<th>头衔</th>
		<th></th>
	</tr>
	@foreach (var item in Model)
 {
	<tr>
		<td>@item.RoleID</td>
		<td class="actions"><a href="#" onclick="Edit('@item.RoleID')" class="button-edit" title="编辑">编辑</a> | <a href="/Admin/Settings/DeleteRole/@item.RoleID" class="button-delete delete" title="删除">删除</a></td>
	</tr> 
 }
</table>